        .scroll-box {
          overflow-y: auto;  /* Enables vertical scrollbar if needed */
          height: 150px;    /* Set fixed height */
          max-height: 150px; /* Adjust height as needed */
          font-size: 0.8em;  /* Smaller font size */
        }

        .smalltext {
          font-size: 0.8em;  /* Smaller font size */
        }

        .pretty .state label, .pretty .state label:after {
        font-weight: normal !important; /* Override to normal weight */


         .pretty .state label::after, .pretty .state label::before, .icon {
                    margin-top: 20px;
                }

                .pretty .state label {
                    margin-left: 10px;
                }


        .scroll-box .form-group { margin-bottom: 0px !important; } /* Reduce space between groups */

        .card-body {
           padding: 0px;
        }


        .no-border {
    border: none !important;
    box-shadow: none !important;
        }


  /* Set a fixed height or maximum height */
      .control-sidebar {
        height: 100%; /* Use a percentage or a fixed height like 400px */
        max-height: 100%;
        overflow-y: auto; /* Enable vertical scrolling */
      }
      .control-sidebar-content {
        height: 100%; /* Ensure the content takes full height */
        overflow-y: auto; /* Enable vertical scrolling */
      }
	  
/* General button style */
	.btn.btn-default {
  background-color: #f8f9fa; /* Light grey background */
  border-color: #ced4da; /* Light grey border */
  color: #495057; /* Dark grey text */
	}

      /* Button hover effect */
	.btn.btn-default:hover {
  background-color: #e2e6ea; /* Slightly darker background on hover */
  border-color: #adb5bd; /* Slightly darker border on hover */
  color: #212529; /* Darker text on hover */
	}
  
	.control-sidebar {
	max-height: 90vh; 
	overflow-y: auto;
	scrollbar-width: thin;
	}

	::-webkit-scrollbar {
        width: 8px;
	}

      }
      ::-webkit-scrollbar-thumb {
        border-radius: 10px;       
      }
    h5 {
      font-size: 1rem;
      font-weight: 800;
    }
    a.code-link {
      color: #428BCA;
      text-decoration: underline;
    }
	
        body {
          font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
        }